<% title 'Change Your Password' %>
  
  <%= form_for(resource, :as => resource_name, :url => users_update_password_path, :html => { :method => :put }) do |f| %>
    <%= render "shared/error_messages", :target => @user %>

    <h2>Password</h2>

	<div id="password_change_form">

      <div class="field inlineblock">
        <%= f.label :current_password %> 
        <%= f.password_field :current_password %>&nbsp;<i>(we need your current password to confirm your password change)</i>
      </div>

	  <div class="field inlineblock">
        <%= f.label :password, "New password" %> 
        <%= f.password_field :password %>
      </div>

      <div class="clear"></div>

      <div class="field inlineblock">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation %>
      </div>  

	</div>

	<div class="hr"></div>
	
    <div class="actions">
      <%= f.submit "Update" %>
	  &nbsp;
	  <%= link_to 'Cancel', root_path %>
    </div>

  <% end %>

  
