<% title "Edit Profile For #{@user.email}" %>

<%= form_for(@user, :url => update_profile_user_path(@specimen)) do |f| %>

  <div class="field">
    <%= f.label :profile_id, "Profile" %>
    <%= f.collection_select(:profile_id,
                            @profiles,
                            :id,
                            :name,
                            {:include_blank => "Please select"})
    %>
  </div>

  <div class="hr"></div>    

  <div class="actions">
    <span><%= f.submit "Save" %></span>
    &nbsp;
    <span><%= link_to 'Cancel', @user %></span>
  </div>

<% end %>

